<!doctype html>
<html class="no-js" lang="en">
<head>
  <title>✰✰✰ UNICORN ALERT ✰✰✰</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Fascinate|Fredoka+One|Gorditas:400,700' rel='stylesheet' type='text/css' />
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <%= javascript_include_tag "modernizr-2.5.3.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<%= javascript_include_tag "application" %>

</body>
</html>
